@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@font-face {
  font-family: "Rugen";
  src: url("fonts/RugenExpanded.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient {
  /* background: linear-gradient(to left, #160d25 , #1b0f2c, #110c24,#150727, #190a2b,#210f37,#1e1032,  #12092f);
   */
  background: linear-gradient(
    to left,
    #241438,
    #01061b,
    #01051a,
    #01061a,
    #01051b,
    #01051a,
    #241438
  );
  min-height: 100vh;
}


.nav-mob {
  background: linear-gradient(to left, #241438, #01061B , #241438);
   
}

.navbar-transparent {
  background-color: transparent;
}


.animated-gradient-mobile{
  background: linear-gradient(to left, #290C2E,#02061B, #01061A,#01051B, #01051A, #290C2E);

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }

}

.animated-gradient-mobile {
  background: linear-gradient(
    to left,
    #290c2e,
    #02061b,
    #01061a,
    #01051b,
    #01051a,
    #290c2e
  );
}

.highlight {
  background: linear-gradient(
    to right,
    #7367cd,
    #6f5fcb,
    #654dc8,
    #5c39c5,
    #542ac2,
    #6c5bca,
    #7d7cd0,
    #7a6acf
  );
}

.text-overlay span {
  background: linear-gradient(
    to left, #241438,
    #01061b,
    #01051a,
    #01061a,
    #01051b,
    #01051a
  , #201132);
   
}

.glow-on-hover:hover {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

@layer base {
  body {
    @apply bg-[#01061B] text-white;
  }
}
@keyframes arrowAnimation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animated-arrow {
  animation: arrowAnimation 2s ease-in-out infinite;
}

.clamp-complete {
  font-size: clamp(13.5px, 25px); /* Adjust these values to fit your design */
} 
